In [2]:
import pandas as pd
import numpy as np
import xarray as xr
import calliope

ModuleNotFoundError: No module named 'calliope'

In [3]:
# Load your weather data
df = pd.read_excel("WeatherData.xlsx",index_col=0)

In [8]:
df.head()

,STN,YYYYMMDD,HH,DD,FH,FF,FX,T,T10N,TD,Q,SQ,VV,N,U,P
0,330,20240101,1,210,120,120,180,75,NaN,61,0,0,NaN,NaN,91,9951
1,330,20240101,2,210,90,100,150,74,NaN,62,0,0,NaN,NaN,91,9958
2,330,20240101,3,240,100,110,160,92,NaN,59,0,0,NaN,NaN,79,9959
3,330,20240101,4,240,110,110,190,91,NaN,59,0,0,NaN,NaN,80,9966
4,330,20240101,5,240,100,100,150,95,NaN,54,0,0,NaN,NaN,76,9973

In [9]:
# Ensure 'HH' is properly formatted
df["HH"] = df["HH"].astype(str).str.zfill(2)

In [10]:
# Handle '24' hour values by shifting to next day
def parse_datetime(row):
    hour = int(row["HH"])
    date = pd.to_datetime(str(row["YYYYMMDD"]), format="%Y%m%d")
    if hour == 24:
        return date + pd.Timedelta(days=1)
    else:
        return date + pd.Timedelta(hours=hour)

df["datetime"] = df.apply(parse_datetime, axis=1)
df.set_index("datetime", inplace=True)

In [11]:
# New column names 
new_column_names = { 
    'FH' : 'average windspeed (m/s)',
    'FF' : 'windspeed previous 10 minuten (m/s)',
    'FX' : 'highest windspeed (m/s)',
    'T'  : 'temperature_C',
    'SQ' : 'duration of sunshine (h)',
    'Q'  : 'global_radiation_KW',    
    'P'  : 'air pressure (Pa)',
    'N'  : 'cloud cover (-)',
    'U'  : 'relative humidity (in percentages)'
}
df = df.rename(columns = new_column_names)

In [12]:
yeild_data_df=pd.read_csv('data_experimenting/df_with_calculations.csv',index_col=0)

In [13]:
yeild_data_df.head()

,YYYYMMDDHH,average windspeed (m/s),windspeed previous 10 minuten (m/s),highest windspeed (m/s),temperature in degrees Celcius,global radiation (in J/m^2),duration of sunshine (h),cloud cover (-),relative humidity (in percentages),air pressure (Pa),yield solar panel (kWh)
0,2024-01-01 01:00:00,120,120,180,75,0.0,0.0,NaN,91,9951,0.0
1,2024-01-01 02:00:00,90,100,150,74,0.0,0.0,NaN,91,9958,0.0
2,2024-01-01 03:00:00,100,110,160,92,0.0,0.0,NaN,79,9959,0.0
3,2024-01-01 04:00:00,110,110,190,91,0.0,0.0,NaN,80,9966,0.0
4,2024-01-01 05:00:00,100,100,150,95,0.0,0.0,NaN,76,9973,0.0

In [14]:
energy_demand=yeild_data_df["yield solar panel (kWh)"]

In [15]:
df.sample(10)

,STN,YYYYMMDD,HH,DD,average windspeed (m/s),windspeed previous 10 minuten (m/s),highest windspeed (m/s),temperature_C,T10N,TD,global_radiation_KW,duration of sunshine (h),VV,cloud cover (-),relative humidity (in percentages),air pressure (Pa)
datetime,,,,,,,,,,,,,,,,
2024-01-02 17:00:00,330,20240102,17,220,140,160,240,124,NaN,98,0,0,NaN,NaN,84,9806
2024-01-13 15:00:00,330,20240113,15,270,60,60,80,50,NaN,32,4,0,NaN,NaN,88,10209
2024-01-13 21:00:00,330,20240113,21,260,80,80,100,56,NaN,40,0,0,NaN,NaN,89,10180
2024-01-04 22:00:00,330,20240104,22,140,80,90,120,79,NaN,70,0,0,NaN,NaN,94,9987
2024-01-26 15:00:00,330,20240126,15,300,110,100,150,76,NaN,27,59,10,NaN,NaN,70,10295
2024-01-22 12:00:00,330,20240122,12,240,120,120,170,98,83.0,56,98,10,NaN,NaN,75,10072
2024-01-23 05:00:00,330,20240123,05,270,110,110,150,73,NaN,34,0,0,NaN,NaN,76,10218
2024-01-14 05:00:00,330,20240114,05,270,70,70,90,61,NaN,46,0,0,NaN,NaN,90,10131
2024-01-19 03:00:00,330,20240119,03,290,90,90,120,34,NaN,-8,0,0,NaN,NaN,74,10151
2024-01-24 10:00:00,330,20240124,10,250,150,150,200,101,NaN,54,39,2,NaN,NaN,72,10196

In [16]:
energy_demand.head()

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: yield solar panel (kWh), dtype: float64

In [17]:
df["energy_demand"]= energy_demand.values

In [18]:
df.head()

,STN,YYYYMMDD,HH,DD,average windspeed (m/s),windspeed previous 10 minuten (m/s),highest windspeed (m/s),temperature_C,T10N,TD,global_radiation_KW,duration of sunshine (h),VV,cloud cover (-),relative humidity (in percentages),air pressure (Pa),energy_demand
datetime,,,,,,,,,,,,,,,,,
2024-01-01 01:00:00,330,20240101,01,210,120,120,180,75,NaN,61,0,0,NaN,NaN,91,9951,0.0
2024-01-01 02:00:00,330,20240101,02,210,90,100,150,74,NaN,62,0,0,NaN,NaN,91,9958,0.0
2024-01-01 03:00:00,330,20240101,03,240,100,110,160,92,NaN,59,0,0,NaN,NaN,79,9959,0.0
2024-01-01 04:00:00,330,20240101,04,240,110,110,190,91,NaN,59,0,0,NaN,NaN,80,9966,0.0
2024-01-01 05:00:00,330,20240101,05,240,100,100,150,95,NaN,54,0,0,NaN,NaN,76,9973,0.0

In [19]:
# Convert raw values
df["temperature_C"] = df["temperature_C"] / 10
df["global_radiation_KW"] = (df["global_radiation_KW"] * 1e4) / (1e3 * 3600 )
df["duration of sunshine (h)"] = df["duration of sunshine (h)"] * 0.1

In [20]:
df.sample(5)

,STN,YYYYMMDD,HH,DD,average windspeed (m/s),windspeed previous 10 minuten (m/s),highest windspeed (m/s),temperature_C,T10N,TD,global_radiation_KW,duration of sunshine (h),VV,cloud cover (-),relative humidity (in percentages),air pressure (Pa),energy_demand
datetime,,,,,,,,,,,,,,,,,
2024-01-12 03:00:00,330,20240112,03,60,40,40,70,4.9,NaN,21,0.000000,0.0,NaN,NaN,82,10345,0.000000
2024-01-25 23:00:00,330,20240125,23,220,80,90,130,9.3,NaN,82,0.000000,0.0,NaN,NaN,92,10223,0.000000
2024-01-29 21:00:00,330,20240129,21,180,70,70,100,9.8,NaN,74,0.000000,0.0,NaN,NaN,85,10253,0.000000
2024-01-15 09:00:00,330,20240115,09,320,140,160,190,2.5,NaN,5,0.030556,0.2,NaN,NaN,86,10027,0.038556
2024-01-08 13:00:00,330,20240108,13,60,90,100,130,-0.1,NaN,-60,0.094444,0.0,NaN,NaN,64,10320,0.046239

In [21]:
# Keep only relevant columns
df_clean = df[["global_radiation_KW", "energy_demand"]]

In [22]:
df_clean.sample(5)

                     global_radiation_KW  energy_demand
datetime
2024-01-08 13:00:00             0.094444       0.046239
2024-01-27 17:00:00             0.000000       0.000000
2024-01-08 07:00:00             0.000000       0.000000
2024-01-20 18:00:00             0.000000       0.000000
2024-01-30 21:00:00             0.000000       0.000000

In [23]:
# Reset index to make datetime a column
df_clean = df_clean.reset_index()

# Sort by datetime for clarity (optional)
df_clean = df_clean.sort_values("datetime")

# Save to CSV in correct format
df_clean.to_csv("solar_model/irradiance.csv", index=False)

In [24]:
df_clean.sample(5)

               datetime  global_radiation_KW  energy_demand
145 2024-01-07 02:00:00                  0.0            0.0
22  2024-01-01 23:00:00                  0.0            0.0
432 2024-01-19 01:00:00                  0.0            0.0
45  2024-01-02 22:00:00                  0.0            0.0
690 2024-01-29 19:00:00                  0.0            0.0

In [25]:
df_clean.to_csv("solar_model/time_series/irradiance.csv")

In [26]:
# Constants
area_of_solar_panel = 2.47  # in m^2
efficiency_solar_panel = 0.17  # unitless efficiency
number_of_solar_panels = 1  # if multiple, change this

# Calculate irradiance in kWh for each hour
irradiance_kwh = (df['air pressure (Pa)'] * area_of_solar_panel * number_of_solar_panels * efficiency_solar_panel) / (1e3 * 3600)
irradiance_kwh.name = "nl_site"  # Important for Calliope

# Save to CSV
irradiance_kwh.to_csv("solar_model/time_series/irradiance.csv", header=True)

In [27]:
# Save CSV with location name as header
irradiance_kwh.to_csv("solar_model/time_series/irradiance.csv", header=["nl_site"])

In [28]:
pd.read_csv("solar_model/time_series/irradiance.csv", header=None).head()

                     0                      1
0             datetime                nl_site
1  2024-01-01 01:00:00  0.0011606735833333335
2  2024-01-01 02:00:00  0.0011614900555555559
3  2024-01-01 03:00:00  0.0011616066944444446
4  2024-01-01 04:00:00   0.001162423166666667

In [29]:
# Check row counts per day
daily_counts = df.groupby(df.index.date).size()
print(daily_counts.value_counts())  # Should show 24s only

24    30
23     1
1      1
dtype: int64

In [30]:
# To find problematic days
print(daily_counts[daily_counts != 24])

2024-01-01    23
2024-02-01     1
dtype: int64

In [31]:
# Load and inspect the CSV
df = pd.read_csv("solar_model/time_series/irradiance.csv")

# Display first few rows and column names
print(df.columns)
print(df.head())

Index(['datetime', 'nl_site'], dtype='object')
              datetime   nl_site
0  2024-01-01 01:00:00  0.001161
1  2024-01-01 02:00:00  0.001161
2  2024-01-01 03:00:00  0.001162
3  2024-01-01 04:00:00  0.001162
4  2024-01-01 05:00:00  0.001163

In [32]:
model = calliope.Model("solar_model/model.yaml")

Parser error when reading YAML from solar_model/model.yaml.

ScannerError: mapping values are not allowed in this context
  in "<unicode string>", line 12, column 15